<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Xin & Kun</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

    <link href="//fonts.useso.com/css?family=Pinyon+Script:400" rel="stylesheet"/>
    <link href="//fonts.useso.com/css?family=Roboto:300" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/fullPage.js/2.7.8/jquery.fullPage.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>

    <script src="//cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/fullPage.js/2.7.8/jquery.fullPage.min.js"></script>
    <script src="//maps.google.cn/maps/api/js?key=AIzaSyCeecAE731RXOqPb_b3VtHbZZpw-Ggq-Xs"></script>
    <script src="{% static 'js/particles.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
</head>
<body>
<div id="particles-js"></div>
<div id="fullpage">
    <div class="section">
        <div class="title">
            <h4>THE WEDDING OF</h4>
        </div>
        <h1>Xin Huang</h1>
        <h1>and</h1>
        <h1>Kun Zhang</h1>
        <h4>REQUEST THE PLEASURE</h4>
        <h4>OF YOUR COMPANY</h4>
    </div>
    <div class="section">
        <img src="{% static 'img/diamond_tie.png' %}" alt="diamond tie" class="center"/>
    </div>
    <div class="section">
        <img src="{% static 'img/flower.png' %}" alt="flower" class="center"/>
        <h3>SUNDAY</h3>
        <h3>MAY 1, 2016</h3>
        <h3>12 O'CLOCK</h3>
        <h4 class="countdown"></h4>
    </div>
    <div class="section location">
        <h3>Riva St Kilda</h3>
        <h5>42B Marine Parade, Elwood VIC 3184</h5>
        <div id="map"></div>
    </div>
</div>
<div class="arrow bounce"></div>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>