<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Xin & Kun</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

    <link href="https://fonts.googleapis.com/css?family=Pinyon+Script:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.8/jquery.fullPage.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.8/jquery.fullPage.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCeecAE731RXOqPb_b3VtHbZZpw-Ggq-Xs"></script>
    <script src="{% static 'js/particles.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
</head>
<body>
<div id="particles-js"></div>
<div id="fullpage">
    <div class="section">
        <div class="title">
            <h4>THE WEDDING OF</h4>
        </div>
        <h1>Xin Huang</h1>
        <h1>and</h1>
        <h1>Kun Zhang</h1>
        <h4>REQUEST THE PLEASURE</h4>
        <h4>OF YOUR COMPANY</h4>
    </div>
    <div class="section">
        <img src="{% static 'img/diamond_tie.png' %}" alt="diamond tie" class="center"/>
    </div>
    <div class="section">
        <img src="{% static 'img/flower.png' %}" alt="flower" class="center"/>
        <h3>SUNDAY</h3>
        <h3>MAY 1, 2016</h3>
        <h3>12 O'CLOCK</h3>
        <h4 class="countdown"></h4>
    </div>
    <div class="section location">
        <h3>Riva St Kilda</h3>
        <h5>42B Marine Parade, Elwood VIC 3184</h5>
        <div id="map"></div>
    </div>
    <div class="section">
        <div class="slide">
            <h3>We hope that you</h3>
            <h3>enjoy the sharing platters.</h3>
        </div>
        <div class="slide seating">
            <h3>Table One</h3>
            <h4>Bride</h4>
            <h4>Groom</h4>
            <h4>Father</h4>
            <h4>Mother</h4>
            <h4>Auntie Yuan YUAN</h4>
            <h4>Jinlin SONG</h4>
            <h4>Tong MU</h4>
            <h4>Haochun MA</h4>
            <h4>Zhaoyue JING</h4>
        </div>
        <div class="slide seating">
            <h3>Table Two</h3>
            <h4>Kei HE</h4>
            <h4>Meixuan LI</h4>
            <h4>Bangyan LI</h4>
            <h4>Lucas LU</h4>
            <h4>Tony FENG</h4>
            <h4>Ryan JING</h4>
            <h4>Andy YU</h4>
            <h4>Jimmy YAN</h4>
            <h4>Qichen WANG</h4>
        </div>
        <div class="slide seating">
            <h3>Table Three</h3>
            <h4>Tina ZHANG</h4>
            <h4>Dali TANG</h4>
            <h4>Sophia ZHANG</h4>
            <h4>Michael YANG</h4>
            <h4>Lisa LIU</h4>
            <h4>Yao CHENG</h4>
            <h4>Roy ZHOU</h4>
            <h4>Zoe MA</h4>
            <h4>Monica YUCHI</h4>
        </div>
        <div class="slide seating">
            <h3>Table Four</h3>
            <h4>Chikai ZHANG</h4>
            <h4>Anne ZHANG</h4>
            <h4>You WU</h4>
            <h4>Jessie ZHU</h4>
            <h4>Ivan WANG</h4>
            <h4>Sisi ZHANG</h4>
            <h4>Da XU</h4>
            <h4>Doris WANG</h4>
            <h4>Collin LI</h4>
        </div>
    </div>
</div>
<div class="arrow bounce"></div>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>